:root {
  --wide: 1;
  --tall: 1;
  --size: 10px;
}

.container {
  display: grid;
  width: calc(var(--wide) * var(--size));
  height: calc(var(--height) * var(--size));
  grid-template-columns: repeat(var(--wide), var(--size));
  grid-template-rows: repeat(var(--tall), var(--size));
}