:root {
  --primary: #64766a;
  --secondary: #9aa587;
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.tile {
  /* background: #282c34; */
}

.northeast {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.southeast {
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.southwest {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.northwest {
  clip-path: polygon(0 100%, 100% 0, 0 0);
}

.empty {
  background: transparent;
}

.full {}