.tile {
  background: #282c34;
  width: 100%;
  height: 100%;
}

.northeast {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.southeast {
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.southwest {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.northwest {
  clip-path: polygon(0 100%, 100% 0, 0 0);
}

.empty {
  background: transparent;
}

.full {}